@model IEnumerable<PruebaClinica.Models.Medicamento>

@{
    ViewData["Title"] = "Bodega de medicamentos";
}

<h1>Medicamentos</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Ingresar nuevo</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRecibido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMedicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad, "vCantidad")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRecibido)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })  |
                    @Html.ActionLink("Despachar", "Dispatch", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
